<a href="https://colab.research.google.com/github/ucpawan/DataScience-/blob/main/Task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [164]:
import pandas as pd
import plotly.express as px
import seaborn as sbn
from matplotlib import pyplot as plt
import numpy as np

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [17]:
data1=pd.read_csv("college_1.csv")
data2=pd.read_csv("college_2.csv")
new_df=pd.concat([data1,data2],axis=0,ignore_index=True)

In [ ]:
new_df

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

First College CSV File

In [35]:
data1[data1["CodeKata Score"]>15000].to_csv("Exceeded expectations1.csv")

In [36]:
data1[(data1["CodeKata Score"]>10000) & (data1["CodeKata Score"]<15000)].to_csv("Reached_expectations1.csv")

In [37]:
data1[(data1["CodeKata Score"]>7000) & (data1["CodeKata Score"]<10000)].to_csv("Needs_Improvement1.csv")

In [38]:
data1[(data1["CodeKata Score"]<7000)].to_csv("Unsatisfactory1.csv")

Second College CSV File

In [39]:
data2[data2["CodeKata Score"]>15000].to_csv("Exceeded expectations2.csv")

In [40]:
data2[(data2["CodeKata Score"]>10000) & (data2["CodeKata Score"]<15000)].to_csv("Reached_expectations2.csv")

In [41]:
data2[(data2["CodeKata Score"]>7000) & (data2["CodeKata Score"]<10000)].to_csv("Needs_Improvement2.csv")

In [42]:
data2[(data2["CodeKata Score"]<7000)].to_csv("Unsatisfactory2.csv")

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

First College CSV File

In [64]:
previous1_week_avg=data1["Previous Geekions"].mean()
current1_week_avg=data1["CodeKata Score"].mean()
if previous1_week_avg>current1_week_avg:
  print(f"Average of previous week geekcoins={previous1_week_avg} is more than that of current week={current1_week_avg}.")
else:
  print(f"Average of current week geekcoins={current1_week_avg} is more than that of previous week={previous1_week_avg}.")

Average of current week geekcoins=2906.0714285714284 is more than that of previous week=2904.5238095238096.

Second College CSV File

In [65]:
previous2_week_avg=data2["Previous Geekions"].mean()
current2_week_avg=data2["CodeKata Score"].mean()
if previous2_week_avg>current2_week_avg:
  print(f"Average of previous week geekcoins={previous2_week_avg} is more than that of current week={current2_week_avg}.")
else:
  print(f"Average of current week geekcoins={current2_week_avg} is more than that of previous week={previous2_week_avg}.")

Average of current week geekcoins=6801.428571428572 is more than that of previous week=6093.142857142857.

In [69]:
#average of Previous and Present week geekcoins of all students combined

previous_week_avg=new_df["Previous Geekions"].mean()
current_week_avg=new_df["CodeKata Score"].mean()
if previous_week_avg>current_week_avg:
  print(f"Average of previous week geekcoins={previous_week_avg} is more than that of current week={current_week_avg}.")
else:
  print(f"Average of current week geekcoins={current_week_avg} is more than that of previous week={previous_week_avg}.")

Average of current week geekcoins=4051.764705882353 is more than that of previous week=3842.3529411764707.

###### No of students participated

In [68]:
#college1 file
num_students1=data1["Name"].nunique()
num_students1

84

In [67]:
#college2 file
num_students2=data2["Name"].nunique()
num_students2

35

In [70]:
#total number of students participated

num_students=new_df["Name"].nunique()
num_students

119

###### #Average completion of python course or my_sql or python english or computational thinking

In [84]:
#file1
 
data1[["python","mysql"]].mean()

python    73.392857
mysql     27.601190
dtype: float64

In [85]:
#file2

data2[["python","mysql","computational_thinking","python_en"]].mean()

python                     8.657143
mysql                     13.657143
computational_thinking     2.200000
python_en                 29.657143
dtype: float64

In [92]:
#merged dataframe

new_df[["python_en","computational_thinking"]]=new_df[["python_en","computational_thinking"]].fillna(0)
new_df[["python","mysql","computational_thinking","python_en"]].mean()

python                    54.352941
mysql                     23.500000
computational_thinking     0.647059
python_en                  8.722689
dtype: float64

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [174]:
#file1 

data1.nlargest(3,"Rising")[["Name","Rising"]]

            Name  Rising
6  KALAIARASAN K     130
0      A.Dharani       0
1    V.JEEVITHA        0

In [177]:
#file2

data2.nlargest(3,"Rising")[["Name","Rising"]]

                 Name  Rising
8            shifak N    3140
2   Ganesh Ramkumar R    2000
18     Narasimhan Y L    2000

In [176]:
#merged dataframe

new_df.nlargest(3,"Rising")[["Name","Rising"]]

                  Name  Rising
92            shifak N    3140
86   Ganesh Ramkumar R    2000
102     Narasimhan Y L    2000

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [103]:
#file1

data1.nlargest(3,"CodeKata Score")[["Name","CodeKata Score"]]

          Name  CodeKata Score
0    A.Dharani           24500
1  V.JEEVITHA            21740
2  HEMAVATHI.R           19680

In [104]:
#file2

data2.nlargest(3,"CodeKata Score")[["Name","CodeKata Score"]]

                Name  CodeKata Score
0      ASHOK KUMAR K           19400
1            Chandru           14490
2  Ganesh Ramkumar R           10790

In [105]:
#merged dataframe

new_df.nlargest(3,"CodeKata Score")[["Name","CodeKata Score"]]

          Name  CodeKata Score
0    A.Dharani           24500
1  V.JEEVITHA            21740
2  HEMAVATHI.R           19680

###### Department wise codekata performence (pie chart)

In [ ]:
#file1

share1=px.pie(data1,names="Department",values="CodeKata Score",hole=.2)
share1

In [ ]:
#file2
share2=px.pie(data2,names="Department",values="CodeKata Score",hole=.2)
share2

In [ ]:
#merged dataframe

share=px.pie(new_df,names="Department",values="CodeKata Score",hole=.2)
share

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [ ]:
#file1

grouped1=data1.groupby("Department")["CodeKata Score"].max()
print(grouped1)
sbn.barplot(data=data1,y="Department",x="CodeKata Score",estimator=np.max,ci=None)

In [ ]:
#file2

grouped2=data2.groupby("Department")["CodeKata Score"].max()
print(grouped2)
sbn.barplot(data=data2,y="Department",x="CodeKata Score",estimator=np.max,ci=None)

In [ ]:
#merged dataframe

grouped=new_df.groupby("Department")["CodeKata Score"].max()
print(grouped)
sbn.barplot(data=data2,y="Department",x="CodeKata Score",estimator=np.max,ci=None)